/.metadata/
/Rabbit Reminder/bin/
/Rabbit Reminder/bin/*.apk
/Rabbit Reminder/bin/*.dex
/Rabbit Reminder/bin/*.ap_
/Rabbit Reminder/bin/com/*
/Rabbit Reminder/gen/com/*
/Rabbit Reminder/res/values/keys.xml
/Rabbit Reminder Test/bin/*.apk
/Rabbit Reminder Test/bin/*.dex
/Rabbit Reminder Test/bin/*.ap_
/Rabbit Reminder Test/bin/com/*
/Rabbit Reminder Test/gen/com/*
/Rabbit Reminder/local.properties
/Rabbit Reminder Test/bin/
/Rabbit Reminder Test/local.properties
/Rabbit Reminder/.project
/Rabbit Reminder/build.xml
/Rabbit Reminder/.classpath
/Rabbit Reminder Test/.classpath
/Rabbit Reminder Test/.project
/Rabbit Reminder Test/build.xml