<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.pyxistech.android.rabbitreminder"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.Fancy">
        <activity android:name=".activities.DashboardActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.TaskListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

		<activity android:name=".activities.AddTaskActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".activities.AddListActivity"
                  android:label="@string/app_name">
        </activity>

		<activity android:name=".activities.ListsListActivity"
                  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
        </activity>
        
        <provider android:name=".providers.TaskListProvider" android:authorities="com.pyxistech.rabbitreminder.models.TaskList" />
        <provider android:name=".providers.ListsListProvider" android:authorities="com.pyxistech.rabbitreminder.models.ListsList" />
    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 