<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.pyxistech.android.rabbitreminder"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.LightRabbitReminder" android:debuggable="true">
        <activity android:name=".activities.AlertListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".activities.AlertActivity"
                  android:label="@string/alert_show_activity_title">
        </activity>
        
        <activity android:name=".activities.AboutActivity"
                  android:label="About">
        </activity>
        
        <activity android:name=".activities.SettingsActivity"
                  android:label="@string/settings_activity_title"
				  android:theme="@style/Theme">
        </activity>
        
        <provider android:name=".providers.AlertListProvider" android:authorities="com.pyxistech.rabbitreminder.models.AlertList" />
        
        <uses-library android:name="com.google.android.maps" />
        
        <service android:name=".services.AlertService" />
    </application>
    
    <uses-sdk android:minSdkVersion="3" />
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest> 